/*Reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #848181;
    color: #000000;
    padding: 20px;
}

.about .dob {
    border: 1px solid #ddd;
    padding: 4px 10px;
    border-radius: 0; /* ou simplesmente remover essa linha */
}



header {
    text-align: center;
    margin-bottom: 20px;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

nav {
    background-color: rgb(109, 53, 36);
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: rgb(202, 202, 202);
    padding : 20px;
    border-radius: 8px;
    box-shadow: #95928e;
}

main h2 {
    color: #64352b;
    margin-bottom: 10px;
}

main section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(109, 53, 36);
    color: rgb(255, 255, 255);
    margin-top: 20px;
}